body, html {
    height: 100%    
}

.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(CarrieWallace.jpg);
    height: 48%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-text {
    color: white;    
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Amatic SC', cursive;
    font-size: 100px; 
    color: white;   
}

.af:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    transition: all 500ms;
}

.af:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.af:hover {
    font-size: 50px;
    font-size-adjust: 20px;
}

body {
    background-color: #a1ccf7;
    margin: 0px 0px 0px 0px;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

.aboutme {
    width: 60%;
    border: 5px double #331a00;
    float: left;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Overlock', cursive;
    font-size: 25px;
    margin-top: 20px;
    color: #331a00;
    margin-bottom: 20px;
}

#Carrie-image {
    display: block;
  margin-left: auto;
  margin-right: 10px;
  width: 50%;
  float: left;
  padding: 10px;
}

.aboutme-text {
    padding: 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.social {
    position: absolute;
    bottom: 8px;
    right: 16px;
}